.content {

  &__text {
    width: 1550px;

    color: #000;

    text-align: justify;
    font-size: 16px;
    font-weight: 400;

    margin: 5rem auto auto;

    &_high {
      display: flex;
      justify-content: center;

      margin: 43px auto 78px;

      font-size: 36px;
    }
  }

  &__timeline {
    height: 50px;

    &-line {
      position: absolute;

      width: 1600px;
      height: 10px;

      background: #000;
    }

    &-start {
      position: relative;
      left: 18.3rem;
      bottom: 1.25rem;
    }

    &-mid {
      position: relative;
      left: 54.5rem;
      bottom: 1.25rem;
    }

    &-end {
      position: relative;
      left: 90.8rem;
      bottom: 1.25rem;
    }
  }

  &__steps {
    display: flex;
    justify-content: space-around;

    margin: 1rem auto 0;

    &-text {
      width: 281px;
      height: 56px;

      color: #000;

      text-align: justify;
      font-size: 1rem;
      font-weight: 400;

      margin: 36px auto auto;

      &_high {
        height: 60px;

        text-align: center;
        color: #6FD08C;

        font-size: 24px;
        font-weight: 600;
      }
    }
  }
}