.news {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin: 86px 0 0 0;

  &__block {
    display: flex;
    flex-direction: column;

    width: 80%;
  }

  &__text {
    font-size: 1.8rem;

    margin: 0 0 1rem 0;
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__item {
    width: 330px;
    height: 250px;

    background: #B6F6C9;

    &-image {
      width: 330px;
      height: 150px;

      & img {
        width: 330px;
        height: 150px;
      }
    }

    &-block {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 40%;

      &_text {

        width: 281px;
        height: 56px;

        text-align: justify;
        font-size: 16px;
        font-weight: 400;
      }
    }


  }
}