.partners {
  display: flex;
  justify-content: center;
  margin: 88px 0 0 0;

  &__block {
    width: 80%;
  }

  &__text {
    margin: 0 0 1rem 12rem;
    font-size: 1.8rem;
  }

  &__list {
    display: flex;
    justify-content: center;
  }

  &__images {
    width: 300px;
    margin: 0 0 0 4rem;

    &:first-child {
      margin: 0;
    }

    &:nth-child(3) {
      width: 129px;
      margin: 0 0 0 4rem;
    }

    &-exception {
      width: 200px;
      margin: 0 0 0 4rem;
    }
  }
}

.my-slideshow {
  margin: 0 5rem;
}

.bss-slides {
  background: transparent;
  position: relative;
  display: block;
  text-align: center;
  margin: 0 3rem;
}

.bss-wrapper {
  display: flex;
  align-items: center;
}

.my-slideshow {
  height: 183px;
}

.bss-next, .bss-prev {
  color: #fff;
  background: #6FD08C;
  z-index: 4;
  font-size: 2em;
  margin: 1rem 0 0 0;
  opacity: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bss-next:hover, .bss-prev:hover {
  cursor: pointer;
  background: #B6F6C9;
}